@font-face {
    font-family: 'Roboto';
    src: url(../font/Roboto-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
    font-display: fallback;
}
@font-face {
    font-family: 'Roboto';
    src: url(../font/Roboto-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
    font-display: fallback;
}
@font-face {
    font-family: 'Roboto';
    src: url(../font/Roboto-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
    font-display: fallback;
}


@font-face {
    font-family: 'CormorantUnicase';
    src: url(../font/CormorantUnicase-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
    font-display: fallback;
}